{% extends 'layout.html' %}
{% block content %}

<script>
{% include './js/requests_samples.js' %}

$(document).ready(() => {

    url = 'http://localhost/api/data';
    url_task = 'http://localhost/api/task';
    url_mongodb = 'http://localhost/api/mongodb';

    $('.btn-get-request').click(() => {
        async_get(url)
        .then((data, textStatus, jqXHR) => {
            console.log(data);
            alert(data.data);
        }, (jqXHR, textStatus, errorThrown) => {
            console.log(jqXHR);
        })
        .catch((error) => {
            console.log(error);
        })
        .finally(() => {
        });
    })

    $('.btn-post-request').click(() => {
        async_post(url)
        .then((data, textStatus, jqXHR) => {
            console.log(data);
            alert(data.data);
        }, (jqXHR, textStatus, errorThrown) => {
            console.log(jqXHR);
        })
        .catch((error) => {
            console.log(error);
        })
        .finally(() => {
        });
    })

    $('.btn-get-request-task').click(() => {
        async_get(url_task)
        .then((data, textStatus, jqXHR) => {
            console.log(data);
            alert(JSON.stringify(data));
        }, (jqXHR, textStatus, errorThrown) => {
            console.log(jqXHR);
        })
        .catch((error) => {
            console.log(error);
        })
        .finally(() => {
        });
    })

    $('.btn-get-request-mongodb').click(() => {
        async_get(url_mongodb)
        .then((data, textStatus, jqXHR) => {
            console.log(data);
            alert(JSON.stringify(data));
        }, (jqXHR, textStatus, errorThrown) => {
            console.log(jqXHR);
        })
        .catch((error) => {
            console.log(error);
        })
        .finally(() => {
        });
    })

});
</script>

Sample template

<br>
<br>

{{ message }}

<br>
<br>
<br>
<br>

<button type="button" class="btn btn-success btn-get-request">GET request</button>

<br>
<br>
<br>

<button type="button" class="btn btn-warning btn-post-request">POST request</button>

<br>
<br>
<br>
<br>

<button type="button" class="btn btn-primary btn-get-request-mongodb">Get via mongodb</button>

<br>
<br>
<br>
<br>

<button type="button" class="btn btn-secondary btn-get-request-task">GET via Redis + Celery</button>

<br>
<br>

{%endblock%}